@page
@model MusicLab.Frontend.Pages.MusicPlayerModel
@{
    Layout = "_LayoutLogin";
}
        <div class="margin-top"></div>

        <div class="main-container">
            <h2 class="title mb-3">Song recommend</h2>

            <div class="row list mb-5">

                <! Music 1 >
                <div class="col-12 col-md-3 col-lg-2">
                    <div class="card">
                        <a href="">
                            <img src="img/cds/001.png" class="card-img-top rouded-0 mb-3" />
                        </a>
                        <div class="card-body p-0">
                            <a href="">
                                <h5 class="card-title">União Flasco</h5>
                                <p class="card-text">LUCKHAOS</p>
                            </a>
                        </div>

                        <div class="btn-play">
                            <button class="d-flex justify-content-center align-items-center">
                                <i class="fas fa-play"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <! Music 2 >
                <div class="col-12 col-md-3 col-lg-2">
                    <div class="card">
                        <a href="">
                            <img src="img/cds/001.png" class="card-img-top rouded-0 mb-3" />
                        </a>
                        <div class="card-body p-0">
                            <a href="">
                                <h5 class="card-title">Foco, Força e Fé</h5>
                                <p class="card-text">Projota</p>
                            </a>
                        </div>

                        <div class="btn-play">
                            <button class="d-flex justify-content-center align-items-center">
                                <i class="fas fa-play"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <! Music 3 >
                <div class="col-12 col-md-3 col-lg-2">
                    <div class="card">
                        <a href="">
                            <img src="img/cds/001.png" class="card-img-top rouded-0 mb-3" />
                        </a>
                        <div class="card-body p-0">
                            <a href="">
                                <h5 class="card-title">Dia de Caça</h5>
                                <p class="card-text">1Kilo</p>
                            </a>
                        </div>

                        <div class="btn-play">
                            <button class="d-flex justify-content-center align-items-center">
                                <i class="fas fa-play"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <! Music 4 >
                <div class="col-12 col-md-3 col-lg-2">
                    <div class="card">
                        <a href="">
                            <img src="img/cds/001.png" class="card-img-top rouded-0 mb-3" />
                        </a>
                        <div class="card-body p-0">
                            <a href="">
                                <h5 class="card-title">Alone</h5>
                                <p class="card-text">Alan Walker</p>
                            </a>
                        </div>

                        <div class="btn-play">
                            <button class="d-flex justify-content-center align-items-center">
                                <i class="fas fa-play"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <! Music 5 >
                <div class="col-12 col-md-3 col-lg-2">
                    <div class="card">
                        <a href="">
                            <img src="img/cds/001.png" class="card-img-top rouded-0 mb-3" />
                        </a>
                        <div class="card-body p-0">
                            <a href="">
                                <h5 class="card-title">Andarilhos</h5>
                                <p class="card-text">Atentado Napalm</p>
                            </a>
                        </div>

                        <div class="btn-play">
                            <button class="d-flex justify-content-center align-items-center">
                                <i class="fas fa-play"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <! Music 6 >
                <div class="col-12 col-md-3 col-lg-2">
                    <div class="card">
                        <a href="">
                            <img src="img/cds/001.png" class="card-img-top rouded-0 mb-3" />
                        </a>
                        <div class="card-body p-0">
                            <a href="">
                                <h5 class="card-title">Cidade das Sombras</h5>
                                <p class="card-text">LetoDie</p>
                            </a>
                        </div>

                        <div class="btn-play">
                            <button class="d-flex justify-content-center align-items-center">
                                <i class="fas fa-play"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex align-items-center mb-3">
                <div>
                    <h2 class="title mb-1">Rap's</h2>
                    <span class="subtitle">Playlist de raps que mais gosto.</span>
                </div>
                <a href="" class="view-more ms-auto">Ver tudo</a>
            </div>

            <div class="row list mb-5">

                <! Music 1 >
                <div class="col-12 col-md-3 col-lg-2">
                    <div class="card">
                        <a href="">
                            <img src="img/cds/001.png" class="card-img-top rouded-0 mb-3" />
                        </a>
                        <div class="card-body p-0">
                            <a href="">
                                <h5 class="card-title">Neurótico de Guerra</h5>
                                <p class="card-text">Filipe Ret</p>
                            </a>
                        </div>

                        <div class="btn-play">
                            <button class="d-flex justify-content-center align-items-center">
                                <i class="fas fa-play"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <! Music 2 >
                <div class="col-12 col-md-3 col-lg-2">
                    <div class="card">
                        <a href="">
                            <img src="img/cds/001.png" class="card-img-top rouded-0 mb-3" />
                        </a>
                        <div class="card-body p-0">
                            <a href="">
                                <h5 class="card-title">Centauros</h5>
                                <p class="card-text">Fabio Brazza</p>
                            </a>
                        </div>

                        <div class="btn-play">
                            <button class="d-flex justify-content-center align-items-center">
                                <i class="fas fa-play"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <! Music 3 >
                <div class="col-12 col-md-3 col-lg-2">
                    <div class="card">
                        <a href="">
                            <img src="img/cds/001.png" class="card-img-top rouded-0 mb-3" />
                        </a>
                        <div class="card-body p-0">
                            <a href="">
                                <h5 class="card-title">Click Clack Bum</h5>
                                <p class="card-text">Kant, NOG, Spinardi</p>
                            </a>
                        </div>

                        <div class="btn-play">
                            <button class="d-flex justify-content-center align-items-center">
                                <i class="fas fa-play"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <! Music 4 >
                <div class="col-12 col-md-3 col-lg-2">
                    <div class="card">
                        <a href="">
                            <img src="img/cds/001.png" class="card-img-top rouded-0 mb-3" />
                        </a>
                        <div class="card-body p-0">
                            <a href="">
                                <h5 class="card-title">A Praga</h5>
                                <p class="card-text">Haikass</p>
                            </a>
                        </div>

                        <div class="btn-play">
                            <button class="d-flex justify-content-center align-items-center">
                                <i class="fas fa-play"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <! Music 5 >
                <div class="col-12 col-md-3 col-lg-2">
                    <div class="card">
                        <a href="">
                            <img src="img/cds/001.png" class="card-img-top rouded-0 mb-3" />
                        </a>
                        <div class="card-body p-0">
                            <a href="">
                                <h5 class="card-title">Sem Caô</h5>
                                <p class="card-text">Zarastruta</p>
                            </a>
                        </div>

                        <div class="btn-play">
                            <button class="d-flex justify-content-center align-items-center">
                                <i class="fas fa-play"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <! Music 6 >
                <div class="col-12 col-md-3 col-lg-2">
                    <div class="card">
                        <a href="">
                            <img src="img/cds/001.png" class="card-img-top rouded-0 mb-3" />
                        </a>
                        <div class="card-body p-0">
                            <a href="">
                                <h5 class="card-title">Alma Velha</h5>
                                <p class="card-text">Gigante No Mic</p>
                            </a>
                        </div>

                        <div class="btn-play">
                            <button class="d-flex justify-content-center align-items-center">
                                <i class="fas fa-play"></i>
                            </button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="d-flex align-items-center mb-3">
                <div>
                    <h2 class="title mb-1">Outras</h2>
                    <span class="subtitle">Playlist com diversos gêneros.</span>
                </div>
                <a href="" class="view-more ms-auto">Ver tudo</a>
            </div>

            <div class="row list mb-5">

                <! Music 1 >
                <div class="col-12 col-md-3 col-lg-2">
                    <div class="card">
                        <a href="">
                            <img src="img/cds/001.png" class="card-img-top rouded-0 mb-3" />
                        </a>
                        <div class="card-body p-0">
                            <a href="">
                                <h5 class="card-title">Bury a friend</h5>
                                <p class="card-text">Billie Eilish</p>
                            </a>
                        </div>

                        <div class="btn-play">
                            <button class="d-flex justify-content-center align-items-center">
                                <i class="fas fa-play"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <! Music 2 >
                <div class="col-12 col-md-3 col-lg-2">
                    <div class="card">
                        <a href="">
                            <img src="img/cds/001.png" class="card-img-top rouded-0 mb-3" />
                        </a>
                        <div class="card-body p-0">
                            <a href="">
                                <h5 class="card-title">Feel Good Inc.</h5>
                                <p class="card-text">gorillaz</p>
                            </a>
                        </div>

                        <div class="btn-play">
                            <button class="d-flex justify-content-center align-items-center">
                                <i class="fas fa-play"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <! Music 3 >
                <div class="col-12 col-md-3 col-lg-2">
                    <div class="card">
                        <a href="">
                            <img src="img/cds/001.png" class="card-img-top rouded-0 mb-3" />
                        </a>
                        <div class="card-body p-0">
                            <a href="">
                                <h5 class="card-title">Amianto</h5>
                                <p class="card-text">Supercombo</p>
                            </a>
                        </div>

                        <div class="btn-play">
                            <button class="d-flex justify-content-center align-items-center">
                                <i class="fas fa-play"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <! Music 4 >
                <div class="col-12 col-md-3 col-lg-2">
                    <div class="card">
                        <a href="">
                            <img src="img/cds/001.png" class="card-img-top rouded-0 mb-3" />
                        </a>
                        <div class="card-body p-0">
                            <a href="">
                                <h5 class="card-title">Piratas do Silício</h5>
                                <p class="card-text">Antraz</p>
                            </a>
                        </div>

                        <div class="btn-play">
                            <button class="d-flex justify-content-center align-items-center">
                                <i class="fas fa-play"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <! Music 5 >
                <div class="col-12 col-md-3 col-lg-2">
                    <div class="card">
                        <a href="">
                            <img src="img/cds/001.png" class="card-img-top rouded-0 mb-3" />
                        </a>
                        <div class="card-body p-0">
                            <a href="">
                                <h5 class="card-title">Faded</h5>
                                <p class="card-text">Alan Walker</p>
                            </a>
                        </div>

                        <div class="btn-play">
                            <button class="d-flex justify-content-center align-items-center">
                                <i class="fas fa-play"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <! Music 6 >
                <div class="col-12 col-md-3 col-lg-2">
                    <div class="card">
                        <a href="">
                            <img src="img/cds/001.png" class="card-img-top rouded-0 mb-3" />
                        </a>
                        <div class="card-body p-0">
                            <a href="">
                                <h5 class="card-title">Do I Wanna Know?</h5>
                                <p class="card-text">Arctic Monkeys</p>
                            </a>
                        </div>

                        <div class="btn-play">
                            <button class="d-flex justify-content-center align-items-center">
                                <i class="fas fa-play"></i>
                            </button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
